.card-title {
    text-align: center;
}
.page-header {
    color: seagreen;
}
.port { 
    color: red;
    text-size-adjust: 100%;
}
.contact {
    color: royalblue;
}

.project1 {
    width: 300px
}

.myself {
    width: 150px
}